@model GestordeGuarderias.Web.Models.ActividadViewModel

<div class="card text-primary">
    <div class="card-header text-center">
        <h5>Detalles de la Actividad</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a asp-action="Index" class="btn btn-outline-primary btn-sm">Volver a la lista</a>
                        <hr />
                        <h5 class="panel-title">Información de la Actividad</h5>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <p class="form-control-static">@Model.Nombre</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descripción</label>
                            <p class="form-control-static">@Model.Descripcion</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha</label>
                            <p class="form-control-static">@Model.Fecha.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hora</label>
                            <p class="form-control-static">@Model.Hora</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Guardería</label>
                            <p class="form-control-static">@Model.Guarderia?.Nombre</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        Crud Actividades
    </div>
</div>
