@model IEnumerable<GestordeGuarderias.Web.Models.PagoViewModel>

<div class="card text-primary">
    <div class="card-header text-center">
        <h5>Lista de Pagos</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a asp-action="Create" class="btn btn-outline-primary btn-sm">Registrar pago</a>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-responsive table-striped" id="MyTable">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Niño</th>
                                    <th>Tutor</th>
                                    <th>Guardería</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Monto.ToString("C")</td>
                                        <td>@item.Nino?.Nombre @item.Nino?.Apellido</td>
                                        <td>@item.Tutor?.Nombre @item.Tutor?.Apellido</td>
                                        <td>@item.Guarderia?.Nombre 
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalles</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        CRUD de pagos
    </div>
</div>
